<h2 class="fs-5">Setting</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit hic architecto perferendis, asperiores accusantium alias, quis quae voluptates sunt esse quam. Eaque praesentium ad eligendi, iure quasi exercitationem nisi voluptatibus.</p>
<div class="contanier mt-5" style="display: flex; justify-content: center;">
    <div class="card" style="padding: 20px; width:30%; ">
        <form #settingForm="ngForm" (ngSubmit)="setBasicData(settingForm)">
            <input type="text"
            ngModel
            name="age"
            id="age"
            placeholder="Enter your age"
            class="form-control mb-3"
            >

            <input type="text"
            ngModel
            name="occupation"
            id="occupation"
            placeholder="Enter your occupation"
            class="form-control mb-3"
            >

            <input type="submit"
            value="Set"
            class="btn btn-outline-primary form-control rounded-0">
        </form>
    </div>
</div>
