<h2 class="fs-5">Lent</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Impedit hic architecto perferendis, asperiores accusantium
  alias, quis quae voluptates sunt esse quam. Eaque praesentium ad eligendi, iure quasi exercitationem nisi
  voluptatibus.</p>
<div ng-app="myTable" class="contanier mt-5" style="display: flex; justify-content: center;">
  <table class="row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
    <thead>
      <tr>
        <th>ID</th>
        <th>User name</th>
        <th>Amount</th>
        <th>Amount repayed</th>
        <th>Date lent</th>
        <th>Date due</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let loan of loans"  >
        <td>{{loan.id}}</td>
        <td>{{loan.borrowerName}}</td>
        <td>{{loan.amount.currency}},{{loan.amount.amount}}</td>
        <td>{{loan.amountRepayed.currency}},{{loan.amountRepayed.amount}}</td>
        <td>{{loan.datelent}}</td>
        <td>{{loan.datedue}}</td>
      </tr>
    </tbody>
  </table>
</div>

