#side_nav{
    background: black;
    min-width: 250px;
    max-width: 250px;
}

.content{
    min-height: 100vh;
    width: 100%;
}

hr.h-color{
    background-color: #eee;
}

.sidebar li.active{
    background: #eee;
    border-radius: 8px;
}

.sidebar li.active a, .sidebar li.active a:hover{
   color: #000;
}

.sidebar li a{
    color: #fff;
}

@media(max-width: 767px){
#side_nav{
    margin-left: -250px;
    position: fixed;
    min-width: 100vh;
    z-index: 1;
}

#sibe_nav.active{
    margin-left: 0;
}
}

